<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Todo List</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    {% block head %}{% endblock %}
</head>

<body>
    <section>
        <nav class="navbar navbar-expand-sm">
            <div class="container my-testing">
                <a class="navbar-brand" href="{{ url_for('home') }}">Todo List</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#collapsibleNavbar">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end" id="collapsibleNavbar">
                    <ul class="navbar-nav">
                        {% if not login: %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                        {% endif %}
                        {% if login and show: %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('register') }}">Sign Up</a></li>
                        {% endif %}
                        {% if user: %}
                        <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Log Out</a></li>
                        {% endif %}
                    </ul>
                </div>
            </div>
        </nav>
    </section>

    {% block content %}{% endblock %}

    <div class="container">
        <hr>
        <p class="footer">© MoxyTech {{date}}</p>
    </div>

    {% block script %}
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"></script>
    {% endblock %}
</body>

</html>