{% extends 'base.html' %}
{% from 'bootstrap5/form.html' import render_form %}
{% block content %}
<div class="container">
    <hr class="rule">
    <div class="row">
        <div class="col-sm-6 col-md-4 offset-md-4">
            {% with messages = get_flashed_messages() %}
            {% if messages %}
            <p class="message-rd">{{ messages[0] }}</p>
            {% endif %}
            {% endwith %}
            {{ render_form(form, novalidate=True) }}
        </div>
    </div>
</div>
{% endblock %}